node_modules
/.next
../.next
./.next
/node_modules
scripts/flow/*/.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
*.log*
chrome-user-data
.vscode
.env*